.ProjectsContainer {
  display: block;
  margin: 0 4rem 0 4rem;
  h1 {
    color: teal;
  }
  hr {
    color: teal;
  }
  .dividerImage {
    border-top:  dotted teal 2px;
    margin: 3rem auto 3rem auto;
    width: 75%;
  }
}